<div class="container container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Family Member / Patient Profile</h2>
        <h3>Name: {{person.name}}</h3>
        <h3>Medications</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Medication</th>
                    <th>Time Taken</th>
                    <th>Pills Remaining</th>
                    <th>Estimated Refill</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-weight: bold" ng-repeat="m in data.meds">
                    <td>{{m.name}}</td>
                    <td>{{m.timeTaken | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td>{{m.pillsRemaining}}</td>
                    <td>{{m.estimatedRefill | date:"MM/dd/yyyy"}}</td>
                </tr>
                <tr>
                    <td>Azithromycin</td>
                    <td>4/26/15 14:00</td>
                    <td>10</td>
                    <td>5/5/15</td>
                </tr>
                <tr>
                    <td>Lisinopril</td>
                    <td>4/26/15 13:58</td>
                    <td>10</td>
                    <td>5/4/15</td>
                </tr>
                <tr>
                    <td>Crestor</td>
                    <td>4/26/15 13:48</td>
                    <td>10</td>
                    <td>5/6/15</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
